<div class="DateSelector">
  <button
    class="DateSelector__reset"
    mat-flat-button
    [disabled]="selectedDate === currentDate"
    (click)="resetDate.emit()">Today</button>
  <button
    class="DateSelector__previous"
    mat-flat-button
    (click)="goToPrevDate.emit()"><</button>
  <button
    class="DateSelector__next"
    mat-flat-button
    (click)="goToNextDate.emit()">></button>
  <div class="DateSelector__date">{{selectedDate}}</div>
</div>

