.DateSelector {
  display: flex;
  align-items: center;
  padding: 0 0 0 170px;
}

.DateSelector__reset,
.DateSelector__previous,
.DateSelector__next {
  margin: 0 5px 0 0;
}

.DateSelector__date {
  font: 12px Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  padding: 0 0 0 10px;
  /*color: #fff;*/
}
