<div class="Task">
  {{task.description}}
  <div class="Task__info">
    <app-task-time-info [task]="task"></app-task-time-info>
    <app-task-time-controls (deleteTask)="deleteTask.emit(task.id)"></app-task-time-controls>
  </div>
</div>

