<div class="TaskTimeInfo">
  <span class="TaskTimeInfo__label">
    <span>Start:</span>
    <span>{{task.startTime || "n/a"}}</span>
  </span>
  <span class="TaskTimeInfo__label TaskTimeInfo__label--bold">
    <span>Duration:</span>
    <span>{{task.timeSpent || "n/a"}}</span>
  </span>
  <span class="TaskTimeInfo__label">
    <span>End:</span>
    <span>{{task.endTime || "n/a"}}</span>
  </span>
</div>
