.TaskTimeInfo {
  width: 160px;
  display: flex;
  flex-direction: column;
}

.TaskTimeInfo__label {
  display: flex;
  justify-content: space-between;
  line-height: 17px;
}

.TaskTimeInfo__label--bold {
  font-weight: bold;
}
