<div role="group">
  <button class="ControlPanel__btn" routerLink="/day">Day</button>
  <button class="ControlPanel__btn" routerLink="/week">Week</button>
  <button class="ControlPanel__btn" routerLink="/month">Month</button>
</div>
