.ControlPanel {
  height: 50px;
  background-color: lightgray;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.ControlPanel,
.ControlPanel__leftControls {
  display: flex;
}
