<div class="ControlPanel">
  <div class="ControlPanel__leftControls">
    <button mat-flat-button color="primary" (click)="openTaskEditor()">Add Task</button>
    <date-selector
      [selectedDate]="selectedDate$ | async"
      (goToNextDate)="goToNextDate()"
      (goToPrevDate)="goToPrevDate()"
      (resetDate)="resetDate()"
    ></date-selector>
  </div>
  <app-view-controls></app-view-controls>
</div>
