@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background-color: #212529;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
}

button {
  outline: none!important;
}

/* You can add global styles to this file, and also import other style files */
